<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Nav - Vue2 (test)vue資料庫</title>
  <link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<!-- Sidebar-->
<section id="sidebar">
  <div class="inner">
    <nav id="nav">
      <ul id="listitem">
        <li v-for="nav in navlist"><a v-bind:href="'#' + nav.name">{{nav.name}}</a></li>
      </ul>
    </nav>
  </div>
</section>
<!-- Wrapper-->
<div id="wrapper">
  <section v-for="(title, index) in navlist" v-bind:class="[wrapper,fadeup]" v-bind:id="title.name">
    <div class="inner">
      <h2>{{index+1}}.{{title.name}}-</h2><img v-if="title.name=='home'" src="https://cdn.iconscout.com/icon/free/png-256/pen-354-450588.png"/>
      <p>123121312312323121321321321123121312312323121321321321123121312312323121321321321123121312312323121321321321123121312312323121321321321123121312312323121321321321123121312312323121321321321123121312312323121321321321123121312312323121321321321123121312312323121321321321</p>
    </div>
  </section>
  <!-- Home-->
  <!-- Profile-->
  <!-- Gallery-->
  <!-- Contact-->
  <!-- Footer-->
  <footer id="footer" v-bind:class="[wrapper,fadeup]">
    <div class="inner">
      <p>Thanks for watching!</p>
    </div>
  </footer>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.0.5/vue.js'></script><script  src="./script.js"></script>

</body>
</html>
