@charset "UTF-8";
:root {
  --linecolor: linear-gradient(90deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
}

*, :after, :before {
  box-sizing: border-box;
}

@-ms-viewport {
  width: device-width;
}
body {
  background: #4378b6;
  -ms-overflow-style: scrollbar;
  font-family: "Fredoka", Noto Sans TC, Arial, Helvetica, sans-serif;
}

/* ---字體換色-黑 */
input, select, textarea {
  color: rgba(0, 0, 0, 0.55);
  font-size: 16.5px;
  font-weight: 400;
  line-height: 1.75;
}

/* --- */
#sidebar + #wrapper {
  overflow: hidden;
  margin-left: 18em;
}

/* --- */
@media screen and (max-width: 1280px) {
  #sidebar + #wrapper {
    margin-left: 0;
    padding-top: 3.5em;
  }
}
@media screen and (max-width: 736px) {
  #sidebar + #wrapper {
    padding-top: 0;
  }
}
/* --- */
#wrapper, body, html {
  padding: 0;
  margin: 0;
}

.wrapper {
  position: relative;
  background-color: #c0e0e6;
}
.wrapper > .inner {
  padding: 5em 5em 3em;
  max-width: 100%;
  width: 75em;
}
.wrapper.fullscreen {
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: column;
  flex-direction: column;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  min-height: 100vh;
}

/* --- */
@media screen and (max-width: 1680px) {
  .wrapper > .inner {
    padding: 4em 4em 2em;
  }
}
@media screen and (max-width: 1280px) {
  .wrapper > .inner {
    width: 100%;
  }
}
@media screen and (max-width: 736px) {
  .wrapper > .inner {
    padding: 3em 2em 1em;
  }
}
/* --- */
body.is-ie .wrapper.fullscreen {
  height: 100vh;
}

/* --- */
@media screen and (max-width: 1280px) {
  .wrapper.fullscreen {
    min-height: calc(100vh - 2.5em);
  }

  body.is-ie .wrapper.fullscreen {
    height: calc(100vh - 2.5em);
  }
}
@media screen and (max-width: 736px) {
  .wrapper.fullscreen {
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: column;
    flex-direction: column;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    min-height: 100vh;
  }

  body.is-ie .wrapper.fullscreen {
    height: 100vh;
  }
}
/* --- */
.wrapper.fade-up > .inner {
  transform: translateY(0);
  transition: opacity 1s ease, transform 1s ease;
  opacity: 1;
}

body.variant-strm_light .wrapper.fade-up > .inner {
  opacity: 0;
  transform: translateY(1em);
}

.wrapper.fade > .inner {
  transition: opacity 1s ease;
  opacity: 1;
}

body.variant-strm_light .wrapper.fade > .inner {
  opacity: 0;
}

.title {
  border: 0;
  color: #fff;
  display: block;
  font-size: 1.25em;
  font-weight: 700;
}

nav {
  -moz-flex: 1;
  flex: 1;
  text-align: right;
}
nav > ul {
  margin: 0;
  padding: 0;
}
nav > ul > li {
  display: inline-block;
  margin-left: 1.75em;
  padding: 0;
  vertical-align: middle;
}
nav > ul > li:first-child {
  margin-left: 0;
}
nav > ul > li a {
  border: 0;
  color: rgba(255, 255, 255, 0.35);
  display: inline-block;
  font-size: 0.6em;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
nav > ul > li a:hover {
  color: rgba(255, 255, 255, 0.55);
}
nav > ul > li a.active {
  color: #fff;
}

/* --- */
@media screen and (max-width: 480px) {
  .title {
    font-size: 1.25em;
    padding: 1em 0;
  }

  > nav {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    text-align: inherit;
  }
  > nav > ul > li {
    margin-left: 1.5em;
  }
  > nav > ul > li a {
    height: 6em;
    line-height: 6em;
  }
}
#header + #wrapper > .wrapper > .inner {
  margin: 0 auto;
}

body {
  overflow-x: hidden;
}

.paroller-img {
  max-width: 33%;
  height: auto;
}

#footer {
  background: #4378B6;
}

#sidebar + #wrapper + #footer {
  margin-left: 18em;
}

/* ---*/
 * @media screen and (max-width: 1280px)
 * #sidebar + #wrapper 
 *   margin-left: 0
 *   padding-top: 3.5em
 * @media screen and (max-width: 736px)
 * #sidebar + #wrapper
 *   padding-top: 0
 * /*---*/
#header + #wrapper > .wrapper > .inner {
  margin: 0 auto;
}

body {
  overflow-x: hidden;
}

.paroller-img {
  max-width: 33%;
  height: auto;
}

#footer {
  background: #4378B6;
}

#sidebar + #wrapper + #footer {
  margin-left: 18em;
}

#sidebar {
  padding: 2.5em 2.5em 0.5em;
  background: #4378b6;
  cursor: default;
  height: 100vh;
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  text-align: right;
  top: 0;
  width: 18em;
  z-index: 10000;
}
#sidebar > .inner {
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: column;
  flex-direction: column;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  transform: translateY(0);
  transition: opacity 1s ease;
  min-height: 100%;
  opacity: 1;
  width: 100%;
}

body.is-ie #sidebar > .inner {
  height: 100%;
}

#sidebar nav > ul {
  list-style: none;
  padding: 0;
}
#sidebar nav > ul > li {
  transform: translateY(0);
  transition: opacity 0.15s ease, transform 0.75s ease;
  margin: 1.5em 0 0;
  opacity: 1;
  padding: 0;
  width: 100%;
  position: relative;
}
#sidebar nav > ul > li:first-child {
  margin: 0;
  transition-delay: 0.45s;
}
#sidebar nav > ul > li:nth-child(2) {
  transition-delay: 0.65s;
}
#sidebar nav > ul > li:nth-child(3) {
  transition-delay: 0.85s;
}
#sidebar nav > ul > li:nth-child(4) {
  transition-delay: 1.05s;
}
#sidebar nav > ul > li:nth-child(5) {
  transition-delay: 1.25s;
}
#sidebar nav > ul > li:nth-child(6) {
  transition-delay: 1.45s;
}
#sidebar nav a {
  transition: color 0.2s ease;
  border: 0;
  color: rgba(255, 255, 255, 0.35);
  display: block;
  font-size: 0.9em;
  font-weight: 700;
  letter-spacing: 0.1em;
  line-height: 1.5;
  outline: 0;
  padding: 1.1em 0;
  position: relative;
  text-decoration: none;
}
#sidebar nav a:after {
  bottom: 0;
  content: "";
  height: 0.12em;
  position: absolute;
  right: 0;
  width: 100%;
}
#sidebar nav a:before {
  bottom: 0;
  content: "";
  height: 0.12em;
  position: absolute;
  right: 0;
  width: 100%;
  background: rgba(255, 255, 255, 0.55);
}
#sidebar nav a:after {
  /*sidebar超連結反應後 線漸層 */
  background: var(--linecolor);
  transition: max-width 0.2s ease;
  max-width: 0;
}
#sidebar nav a.active, #sidebar nav a:hover {
  color: #fff;
}
#sidebar nav a.active:after {
  max-width: 100%;
}

body.variant-strm_light #sidebar > .inner {
  opacity: 0;
}
body.variant-strm_light #sidebar nav ul li {
  transform: translateY(2em);
  opacity: 0;
}

/* --- */
/* --- */