@charset "UTF-8";
:root {
  --color-bg: #c0e0e6;
  --color-text-main: #444;
  --color-primary: #4378b6;
  --color-secondary: #fdbb2d;
  --color-white: #ececec;
  --color-black: #444;
  --linecolor: linear-gradient(90deg, rgba(34, 193, 195, 1) 0%, rgba(253, 187, 45, 1) 100%);
  --navfont-size: 1em;
  --nav-height-space: 2.5em /*2.5em*/;
  --nav-height-space-1280sidebar: calc(1em + 2.5em);
  --nav-height-space-wrapper-calc: 0.8em;
  --nav-sidebar-maxwidth: 9em;
  --nav-margin-left: 0em;
  --nav-li-length: 5;
}

*, :after, :before {
  box-sizing: border-box;
}

@-ms-viewport {
  width: device-width;
}
body {
  overflow-x: hidden;
  -ms-overflow-style: scrollbar;
  -webkit-text-size-adjust: none;
  font-family: 微軟正黑體;
}

#footer, header, body {
  background: var(--color-primary);
}

#wrapper, body, html {
  padding: 0;
  margin: 0;
}

.wrapper {
  position: relative;
  background-color: var(--color-bg);
}
.wrapper > .inner {
  padding: 5em 5em 3em;
  max-width: 100%;
  width: 75em;
}
.wrapper.fullscreen {
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: column;
  flex-direction: column;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  height: 100vh;
}

/* --- */
#sidebar + #wrapper {
  overflow: hidden;
}

/* --- */
@media screen and (max-width: 1280px) {
  #sidebar + #wrapper {
    margin-left: 0;
    padding-top: 0;
  }

  .wrapper.fullscreen {
    height: calc(100vh - var(--nav-height-space));
  }

  body > #footer, #sidebar + #wrapper {
    padding-left: 0;
  }
}
@media screen and (max-width: 736px) {
  #sidebar {
    height: var(--nav-height-space);
  }

  body .wrapper.fullscreen {
    height: auto;
  }

  /*假如要起用小寬度sidebar隱藏，要一起打開*/
}
@media screen and (max-width: 480px) {
  .title {
    font-size: 1.25em;
    padding: 1em 0;
  }

  > nav {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
    text-align: inherit;
  }
  > nav > ul > li {
    margin-left: 1.5em;
  }
  > nav > ul > li a {
    height: 6em;
    line-height: 6em;
  }
}
/* ---無限制寬度 */
#wrapper {
  padding-left: var(--nav-sidebar-maxwidth);
}

#sidebar {
  padding: 10px 0px;
  cursor: default;
  height: 100vh;
  width: var(--nav-sidebar-maxwidth);
  left: 0;
  overflow-x: hidden;
  overflow-y: auto;
  position: fixed;
  text-align: center;
  top: 0;
  background-color: var(--color-primary);
  z-index: 10000;
}
#sidebar > .inner {
  display: -moz-flex;
  display: -ms-flex;
  display: flex;
  -moz-flex-direction: column;
  flex-direction: column;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  transform: translateY(0);
  transition: opacity 1s ease;
  opacity: 1;
  height: 100%;
  width: 100%;
}

#sidebar nav {
  padding: 0 20px;
}
#sidebar nav ul {
  padding: 0;
  list-style: none;
}
#sidebar nav li {
  text-transform: capitalize;
  transform: translateY(0);
  transition: opacity 0.15s ease, transform 0.75s ease;
  margin: 1.5em 0 0;
  opacity: 1;
  cursor: pointer;
}
#sidebar nav li:first-child {
  margin: 0;
  transition-delay: 0.45s;
}
#sidebar nav li:nth-child(2) {
  transition-delay: 0.65s;
}
#sidebar nav li:nth-child(3) {
  transition-delay: 0.85s;
}
#sidebar nav li:nth-child(4) {
  transition-delay: 1.05s;
}
#sidebar nav li:nth-child(5) {
  transition-delay: 1.25s;
}
#sidebar nav a {
  transition: color 0.3s ease;
  border: 0;
  color: rgba(255, 255, 255, 0.4);
  display: block;
  font-size: var(--navfont-size);
  font-weight: 700;
  letter-spacing: 0.2em;
  line-height: 1;
  outline: 0;
  padding: 1.1em 0;
  position: relative;
  text-decoration: none;
}
#sidebar nav a:after, #sidebar nav a:before {
  /*sidebar超連結 線漸層*/
  bottom: 0;
  content: "";
  height: 0.12em;
  position: absolute;
  right: 0;
  width: 100%;
}
#sidebar nav a:before {
  background: rgba(255, 255, 255, 0.5);
}
#sidebar nav a:after {
  /*sidebar超連結 線漸層*/
  background: var(--linecolor);
  transition: max-width 0.2s ease;
  max-width: 0;
}
#sidebar nav a.active, #sidebar nav a:hover {
  color: white;
}
#sidebar nav a.active:after {
  max-width: 100%;
}

/* 進場動畫預設 */
body.variant-strm_light #sidebar > .inner {
  opacity: 0;
}
body.variant-strm_light #sidebar nav ul li {
  transform: translateY(2em);
  opacity: 0;
}

/* ---小於1280px視窗sidebar */
@media screen and (max-width: 1280px) {
  #sidebar {
    top: 0;
    left: 0;
    width: 100%;
    height: var(--nav-height-space-1280sidebar);
    line-height: 3.5em;
    overflow: hidden;
    padding: 0;
  }
  #sidebar > .inner {
    -moz-flex-direction: row;
    flex-direction: row;
    -moz-align-items: stretch;
    -ms-align-items: stretch;
    align-items: stretch;
    height: inherit;
    line-height: inherit;
  }
  #sidebar nav {
    height: inherit;
    line-height: inherit;
  }
  #sidebar nav ul {
    height: inherit;
    line-height: inherit;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    margin: 0;
  }
  #sidebar nav ul li {
    width: calc(100vw / var(--nav-li-length) - 1.5em);
    display: block;
    margin: 0 0 0 2em;
  }
  #sidebar nav a, #sidebar nav ul li {
    height: inherit;
    line-height: inherit;
    padding: 0;
  }
}
/* ---.fade-up動畫 */
.wrapper.fade-up > .inner {
  transform: translateY(0);
  transition: opacity 1s ease, transform 1s ease;
  opacity: 1;
}

body.variant-strm_light .wrapper.fade-up > .inner {
  opacity: 0;
  transform: translateY(1em);
}

.wrapper.fade > .inner {
  transition: opacity 1s ease;
  opacity: 1;
}

body.variant-strm_light .wrapper.fade > .inner {
  opacity: 0;
}