// Sidebar
#sidebar
  .inner
    nav#nav
      ul
        li(v-for="nav in navlist")
          a(v-bind:href="'#' + nav.name") {{nav.name}}
// Wrapper
#wrapper
  section(v-for="(title, index) in navlist" v-bind:class="[wrapper,fadeup]" v-bind:id="title.name")
    .inner
      h2.title(v-if="title.name!=='home'") {{index+1}}.{{title.name}}
      div.home(v-if="title.name=='home'")
        h2 Hello ~
        img(src="https://april808.github.io/blog_website/assets/image/logo/MyLogo.vectornator1.svg",
      alt="MyLogo")
        br
        a.btn.btn-info(href="https://codepen.io/april808", target="_blank") Codepen
      p(v-else="title.name=='home'") 
        | Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nam facilis tempora dignissimos totam quisquam optio quis autem. Aut dolore reiciendis reprehenderit accusantium iste, eligendi quasi eos culpa consequatur optio laudantium.
  footer#footer(v-bind:class="[wrapper,fadeup]")
    .inner
      p Thanks for watching!